/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  padding: 0.8rem;
  color: $black;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: $helveticaNeue;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
  @include mobile {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: $offWhite;
  text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  padding: 0.8rem;
  color: $black;
  font-size: 1rem;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: $helveticaNeue;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

  @include mobile {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

/* Gibson Buttons */

a.animated-button.gibson-one {
  border: 2px solid $black;
  color: $black;
}
a.animated-button.gibson-one:after {
  opacity: 0;
  color: $offWhite;
  background-image: -webkit-linear-gradient( $darkerGray 50%, $darkGray 50%);
  background-image: -moz-linear-gradient($darkerGray 50%, $darkGray 50%);
  background-size: 10px 10px;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.gibson-one:hover:after {
  height: 600% !important;
  opacity: 1;
  color: $offWhite;
}
a.animated-button.gibson-two {
  border: 2px solid $black;
  color: $black;
}
a.animated-button.gibson-two:after {
  opacity: 0;
  color: $offWhite;
  background-image: -webkit-linear-gradient( $darkerGray 50%, $darkGray 50%);
  background-image: -moz-linear-gradient($darkerGray 50%, $darkGray 50%);
  background-size: 10px 10px;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.gibson-two:hover:after {
  height: 600% !important;
  opacity: 1;
  color: $offWhite;
}
// a.animated-button.gibson-three {
//   border: 2px solid #65b37a;
//   color: #FFF;
// }
// a.animated-button.gibson-three:after {
//   opacity: 0;
//   background-image: -webkit-linear-gradient( transparent 50%, rgba(101,179,122,0.2) 50%);
//   background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
//   background-size: 10px 10px;
//   -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
//   -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
//   -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
//   transform: translateX(-50%) translateY(-50%) rotate(90deg);
// }
// a.animated-button.gibson-three:hover:after {
//   height: 600% !important;
//   opacity: 1;
//   color: #FFF;
// }
// a.animated-button.gibson-four {
//   border: 2px solid #65b37a;
//   color: #FFF;
// }
// a.animated-button.gibson-four:after {
//   opacity: 0;
//   background-image: -webkit-linear-gradient( transparent 50%, rgba(101,179,122,0.2) 50%);
//   background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
//   background-size: 10px 10px;
//   -moz-transform: translateX(-50%) translateY(-50%);
//   -ms-transform: translateX(-50%) translateY(-50%));
//   -webkit-transform: translateX(-50%) translateY(-50%);
//   transform: translateX(-50%) translateY(-50%);
// }
// a.animated-button.gibson-four:hover:after {
//   height: 600% !important;
//   opacity: 1;
//   color: #FFF;
// }